.signin_project{
    .ant-form{
        .ant-input{
          border-radius: 50px!important;
          height: 40px!important;
          padding: 4px 20px;
        }
      }
}
.step4{
    .ant-form{
      .ant-input{
        border-radius: 5px !important;
        height: 100px!important;
        padding: 4px 20px;
      }
    }
  }
  .step9{
    .ant-form{
        #Step9_date-picker{
            width: 100%!important;
        }
      }
  }

  .ant-calendar-picker{
    width: 100%!important;
  }