.twoFASubmit{
    .ant-form {
        .ant-input {
          border-radius: 50px !important;
        }
    }
}
.two_authentication{
    .ant-input.ant-input-lg {
      border-radius: 50px;
      width: 360px;
      margin: 0px auto;
      margin-top: 20px;
   
    }
    .ant-form-item-control {
      text-align: center !important;
    }
  }