// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$green-black-01: #0b9985;
$green-black-02:#6FCF97;
$green-text-01: #219653;
$green-text-02:  #27AE60;
$red-text-01:  #EB5757;
$grey-black: #6e6d71;
$grey-black-02 :#9C9C9C;
$grey-black-03: #828282;
$grey-black-04: #868686;
$grey-white: #F2F2F2;
$white-text-01: #fff;
$black-text-01: #4F4F4F;
$black-text-02: #6E6D71;
$black-text-03: #354747;
$black-text-04: #828282;
$black-text-05: #BDBDBD;
$blue-text-01: #2F80ED;
$purpose-text-01:  #9B51E0;
$orange-text-01: #F2994A;


//Background
$background: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), linear-gradient(90.12deg, #124F4F 1.75%, #22A70D 102.73%);
$background-green:  #E2FFEE;
$background-grey: #f2f2f2;
$background-grey-02: rgba(251, 251, 251, 0.93);
$background-grey-03:#E0E0E0;
$background-footer: #F4FFFE;
$background-form: rgba(251, 251, 251, 0.93);
$background-dashboard: #27AE60;